{% extends "admin/base_site.html" %}

{% load static %}
{% load i18n %}


{% load i18n_switcher %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}"/>
{% endblock %}

{% block userlinks %}
    <a href="{{ request|switch_i18n:'en' }}" class="i18n_flag">
        <img src="{% static 'images/usa-flag.png' %}"/>
    </a> /
    <a href="{{ request|switch_i18n:'ru' }}" class="i18n_flag">
        <img src="{% static 'images/rus-flag.png' %}"/>
    </a> /
    <a href="{{ request|switch_i18n:'uk' }}" class="i18n_flag">
        <img src="{% static 'images/ukr-flag.png' %}"/>
    </a> /
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}
