<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load i18n_switcher %}
<html>
<head>
	<title>{% block title %}Vivatech |{% endblock %}</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.collapsible.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/swiper.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/circle-progress.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.countTo.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/custom.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/home.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/header.js' %}"></script>
</head>
<body>
	<body>
    <div class="to_top"><i class="fa fa-arrow-up"></i></div>
    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                            <a class="d-block" href="{% url 'home:home' %}" rel="home"><img class="d-block" src="{% static 'images/logo.png' %}" alt="logo"></a>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                                <li class="current-menu-item"><a href="{% url 'home:home' %}">{% trans 'Главная' %}</a></li>
                                <li><a href="{% url 'catalog:main_category' %}">{% trans 'Каталог' %}</a></li>
                                <li><a href="{% url 'news:news_main' 1 %}">{% trans 'Новости' %}</a></li>
                                <li><a href="{% url 'about_page' %}">{% trans 'О нас' %}</a></li>
                                <li><a href="{% url 'home:contacts_page' %}">{% trans 'Контакты' %}</a></li>


                                <li class="call-btn button gradient-bg mt-3 mt-md-0">
                                    <a class="d-flex justify-content-center align-items-center" href="tel:+380975757020"><img src="{% static 'images/emergency-call.png' %}">+38-097-575-70-20</a>
                                </li>
                                <div class="lang_menu">
                                    <a href="{{ request|switch_i18n:'ru' }}" id="ru"><li class="lang_btn">RU</li></a>
                                    <a href="{{ request|switch_i18n:'uk' }}" id="uk"><li class="lang_btn">UK</li></a>
                                </div>
                            </ul>
                        </nav><!-- .site-navigation -->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->

                        <div class="fb_btn">
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->

        <div class="swiper-container hero-slider">
            <div class="swiper-wrapper">
                {% block slider %}{% endblock %}
            </div>
            <div class="pagination-wrap position-absolute w-100">
                <div class="swiper-pagination d-flex flex-row flex-md-column"></div>
            </div><!-- .pagination-wrap -->
        </div><!-- .hero-slider -->
    </header><!-- .site-header -->

    {% block main %}{% endblock %}

    <div class="our-departments">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="our-departments-wrap">
                        <h2>{% trans 'Наши направления' %}</h2>

                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="{% static 'images/cardiogram.png' %}" alt="">

                                        <h3>{% trans 'Cardioology' %}</h3>
                                    </header>

                                    <div class="entry-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
                                    </div>

                                    <footer class="entry-footer">
                                        <a href="#">{% trans 'read more' %}</a>
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="{% static 'images/stomach-2.png' %}" alt="">

                                        <h3>{% trans 'Gastroenterology' %}</h3>
                                    </header>

                                    <div class="entry-content">
                                        <p>Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                                    </div>

                                    <footer class="entry-footer">
                                        <a href="#">{% trans 'read more' %}</a>
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="{% static 'images/blood-sample-2.png' %}" alt="">

                                        <h3>{% trans 'Medical Lab' %}</h3>
                                    </header>

                                    <div class="entry-content">
                                        <p>Lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus.</p>
                                    </div>

                                    <footer class="entry-footer">
                                        <a href="#">{% trans 'read more' %}</a>
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="{% static 'images/teeth.png' %}" alt="">

                                        <h3>{% trans 'Dental Care' %}</h3>
                                    </header>

                                    <div class="entry-content">
                                        <p>Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                                    </div>

                                    <footer class="entry-footer">
                                        <a href="#">{% trans 'read more' %}</a>
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="{% static 'images/stretcher.png' %}" alt="">

                                        <h3>{% trans 'Surgery' %}</h3>
                                    </header>

                                    <div class="entry-content">
                                        <p>Lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus.</p>
                                    </div>

                                    <footer class="entry-footer">
                                        <a href="#">{% trans 'read more' %}</a>
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="{% static 'images/scanner.png' %}" alt="">

                                        <h3>{% trans 'Neurology' %}</h3>
                                    </header>

                                    <div class="entry-content">
                                        <p>Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                                    </div>

                                    <footer class="entry-footer">
                                        <a href="#">{% trans 'read more' %}</a>
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4 mb-md-0">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="{% static 'images/bones.png' %}" alt="">

                                        <h3>{% trans 'Orthopaedy' %}</h3>
                                    </header>

                                    <div class="entry-content">
                                        <p>Lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus.</p>
                                    </div>

                                    <footer class="entry-footer">
                                        <a href="#">{% trans 'read more' %}</a>
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4 mb-lg-0">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="{% static 'images/blood-donation-2.png' %}" alt="">

                                        <h3>{% trans 'Pediatry' %}</h3>
                                    </header>

                                    <div class="entry-content">
                                        <p>Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                                    </div>

                                    <footer class="entry-footer">
                                        <a href="#">{% trans 'read more' %}</a>
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4 mb-0">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="{% static 'images/glasses.png' %}" alt="">

                                        <h3>{% trans 'Ophthalmology' %}</h3>
                                    </header>

                                    <div class="entry-content">
                                        <p>Lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus.</p>
                                    </div>

                                    <footer class="entry-footer">
                                        <a href="#">{% trans 'read more' %}</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="the-news">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>{% trans 'Новости' %}</h2>

                    <div class="row">
                        {% block news %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="subscribe-banner">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <h2>{% trans 'У Вас есть вопросы? Оставьте свой email и мы с Вами свяжемся.' %}</h2>

                    <form method="POST" action="{% url 'home:sending_mail' %}">
                        {% csrf_token %}
                        <input id="footer_email" type="email" placeholder="E-mail address" name="footer_email">
                        <input id="footer_form_btn" class="button gradient-bg" type="submit" value="{% trans 'Отправить' %}">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 first_col">
                        <div class="foot-about">
                            <h2><a href="#"><img src="{% static 'images/logo.png' %}" alt="" style="max-width: 20vw"></a></h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p>

                            <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div><!-- .foot-about -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0 align_center">
                        <div class="foot-contact">
                            <h2>{% trans 'Контакты' %}</h2>

                            <ul class="p-0 m-0">
                                 <li><span>{% trans 'Адрес' %}:</span>вул. Либідська 17, офіс 7, Київ, 01033, Україна</li>
                                <li><span>{% trans 'Телефон' %}:</span>+38-097-575-70-20</li>
                                <li><span>Email:</span>office@vivatec.com.ua</li>
                            </ul>
                        </div>
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0 align_center">
                        <div class="foot-links">
                            <h2>{% trans 'Полезные ссылки' %}</h2>

                            <ul class="p-0 m-0">
                                <li><a href="{% url 'slider:home' %}">{% trans 'Главная' %}</a></li>
                                <li><a href="{% url 'catalog:main_category' %}">{% trans 'Каталог' %}</a></li>
                                <li><a href="{% url 'about_page' %}">{% trans 'О нас' %}</a></li>
                                <li><a href="contact/">{% trans 'Контакты' %}</a></li>
                                <li><a href="{% url 'news:news_main' 1 %}">{% trans 'Новости' %}</a></li>
                                <li><a href="#">Facebook</a></li>
                            </ul>
                        </div><!-- .foot-links -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->
    </footer><!-- .site-footer -->
</body>
</html>
