/*
#f293a2
#d66476
#757d89
*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.categories_main {
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 10vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.cat_block {
	display: flex;
	flex-flow: column wrap; 
	width: 25vw;
	padding: 1em;
	background: linear-gradient(to bottom right, #ec98a5, #cc5668);
	margin-right: 5vw;
	margin-top: 5vw;
	border-radius: 0.5em;
	border-top-left-radius: 1.5em;
	border-bottom-right-radius: 1.5em;
}
.cat_header {
	display: flex;
	flex-flow: row wrap;
	height: 3em;
	align-items: center;
	padding-left: 0.5em;
	border-bottom: 0.1vh solid #fff;
}
.cat_title {
	font-family: 'Nunito';
	font-weight: 800;
	color: #fff;
	font-size: 1.2em;
	margin-left: 0.5em;
}
.cat_icon {
	width: 2em;
	height: 2em;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.sub_cat_list {
	list-style: none;
	display: flex;
	flex-flow: column wrap;
	margin-left: 12%;
	margin-top: 0.5em;
}
.sub_cat_list a {
	text-decoration: none;
}
.sub_cat {
	color: #fff;
	font-size: 1em;
	font-family: 'Nunito';
	transition: 0.3s;
}
.sub_cat:hover {
	padding-left: 0.5em;
}
@media 
only screen and (max-width: 1100px)
{
	.cat_block {
		width: 38vw;
	}
}
@media
only screen and (max-width: 520px),
only screen and (max-device-aspect-ratio: 9/16),
only screen and (max-device-aspect-ratio: 9/18),
only screen and (device-aspect-ratio: 2/3)
{	
	.categories_main {
		padding-left: 5vw;
	}
	.cat_block {
		width: 80vw;
	}
}