{% extends 'home.html' %}
{% load static %}
{% block slider %}
{% if slides %}
    {% for slide in slides %}
                <div class="swiper-slide hero-content-wrap">
                    <div class="swiper_bg" style="background-image: url({% static 'images/hero.png' %})"></div>
                    <div class="swiper_image" style="background-image: url({{slide.bg_image.url}})"></div>
                    <div class="hero-content-overlay position-absolute w-100 h-100">
                        <div class="container h-100">
                            <div class="row h-100">
                                <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                                    <header class="entry-header">
                                        <h1>{{slide.title}}</h1>
                                    </header><!-- .entry-header -->

                                    <div class="entry-content mt-4">
                                        <p>{{slide.text}}</p>
                                    </div><!-- .entry-content -->

                                    <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                                        <a href="{{slide.btn_link}}" target="_blank" class="button gradient-bg">Read More</a>
                                    </footer><!-- .entry-footer -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div><!-- .hero-content-overlay -->
                </div><!-- .hero-content-wrap -->
    {% endfor %}
{% endif %}
{% endblock %}

{% block news %}
    {% if news %}
        {% for n in news %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="the-news-wrap">
                    <figure class="post-thumbnail">
                        <a href="{% url 'news:news_detail' n.category 1 n.title %}"><img src="{{n.preview_image.url}}" alt=""></a>
                    </figure>

                    <header class="entry-header">
                        <h3>{{n.title}}</h3>
                        <div class="post-metas d-flex flex-wrap align-items-center">
                        <div class="posted-date"><label>Дата: </label><a href="#">{{n.pub_date}}</a></div>
                        <div class="posted-date"><label>Категория: </label><a href="{% url 'news:ordered_by' n.category 1 %}">{{n.category}}</a></div>
                        </div>
                    </header>

                    <div class="entry-content">
                        <p>{{n.text|slice:"0:150"}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}